server:
  port: 8001
  address: 0.0.0.0
  tomcat:
    threads:
      min-spare: 10
      max: 200
spring:
  main:
    lazy-initialization: true #启用懒加载
  datasource:
    username: root
    password: 134679
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/MySqlDB?characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20 # 最大连接数
      leak-detection-threshold: 5000 # 检测泄露时间
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always # 自动创建Spring Session表结构
  cache:
    redis:
      cache-null-values: false #是否缓存空值
      time-to-live: 3600000 # 默认缓存过期时间
  redis:
    lettuce:

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000ms
      lettuce:
        pool:
          max-active: 8  # 最大连接数（根据负载调整）
          max-idle: 8   # 最大空闲连接
          min-idle: 0   # 最小空闲连接
          max-wait: 2000ms  # 获取连接最大等待时间
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
    publisher-confirm-type: correlated  # 消息确认模式
    publisher-returns: true            # 开启消息退回
    listener:
      simple:
        acknowledge-mode: manual       # 手动确认
        concurrency: 3                 # 并发消费者数量
        max-concurrency: 10
mybatis-plus:
  # 确保 SqlSession 由 Spring 管理
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    default-executor-type: reuse # 重用预处理语句
    cache-enabled: true
    local-cache-scope: session
oss.endpoint: oss-cn-beijing.aliyuncs.com
oss.bucketName: dashijian
oss.expireSeconds: 360000
management:
  endpoints:
    web:
      exposure:
        include: metrics,health
  metrics:
    enable:
      jvm:
        memory:
          used: true